* {
    font-family: Georgia;
    text-align: center;
}
header, footer {
    background-color: Tomato;
    color: mistyrose;
    padding: 10px;
    clear: both;
}
nav {
    width: 20%;
    float: left;
}
.blok {
    background-color: #FFAEA5;
    height: 170px;
    font-size: 200%;
}
#nav1 {
    background-color: mistyrose;
}
main {
    background-color: mistyrose;
    width: 80%;
    height: 510px;
    overflow: auto;
    float: left;
}
table {
    margin: auto;
    width: 60%;
    border: 1px solid indigo;
    border-style: dashed;
}
select, #przycisk {
    margin: 20px;
}
dt {
    font-style: italic;
    font-weight: bold;
}
dl:hover {
    font-size: 180%;
}
#sekcja2, #sekcja3{
    display: none;
}